@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    About IT Service Desk: Your Trusted Support Solution

    <Ul>
        <li>
            Purpose: IT Service Desk is designed to streamline IT support, providing a secure and efficient ticketing system for users to report and track technical issues.
        </li>
    </Ul>
</p>
