@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy: IT Service Desk

    <Ul>
        <Li>Data Collection: We collect your name, email, and issue description solely to track and resolve your support tickets.</LI>
        <Li>Usage & Sharing: Your information is used only for troubleshooting. We never share or sell your data to third parties.</LI>
        <Li>Storage & Deletion: Data is stored securely in our database and can be deleted at any time upon user request.</LI>
    </Ul>
</p>
